.my-button {
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-weight: 800;
  border-radius: 2rem;
  border: none;
}

.my-button:hover,
.my-button:active {
  background-color: var(--tertiary-color);
  cursor: pointer;
}
