:root {
  --primary-color: #527318;
  --secondary-color: #899857;
  --tertiary-color: #FFE75E;
  --background-color: #FAFAFA;
  --accent-color: #FEB72B;
  --font-color: #000;
}

.dark-mode {
  --primary-color: #525252;
  --secondary-color: #414141;
  --tertiary-color: #6E85B2;
  --background-color: #313131;
  --accent-color: #362222;
  --font-color: #FFFCEA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
