.game-block {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.no-show {
  display: none;
}

.team-picker {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;

}

.won {
  background-color: green;
}

.lost {
  background-color: red;
}
